pandas
langchain
langchain-community
langchain-core
python-dotenv
PyMuPDF
rank-bm25
faiss-gpu
sudachipy
sudachidict_full
torch
transformers[torch]
sentence-transformers
fugashi
unidic-lite
flask
ctranslate2
tiktoken
einops
pytest
bitsandbytes
peft
trl==0.12.0
datasets
tensorboard
openpyxl
vllm